<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UBIT Journal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <!--<div class="flightLogoBlock">
        <img th:attr="src=${logo}" alt="VistaJet"/>
    </div>-->
    <div class="companyName subheader" style="font-size:7pt;">
        <div>
            <span th:text="${fileName}">[Company Name]</span>
        </div>
        <br/>
        <span><span th:text="${editionForMonth}">[Month]</span> <span  th:text="${editionForYear}">[Year]</span><br/><span th:text="${aircraftType}">[Aircraft Type]</span></span>
    </div>
    <div>
		<span th:each="articleContent,iter : ${articleContents}">
            <table cellspacing="0">
                <thead>
                <tr style="color:#585555;">
                    <td  colspan="6">
                        <span style="float: right" th:text="${articleContent.articleTitle}">[article Title]</span>
                        <span th:text="${articleContent.articleAuthor}">[articlevAuthor]</span> |
                        <span  th:remove="tag" th:utext="${articleContent.articleContent}">[article Content]</span>
                    </td>
                </tr>
                </thead>

            </table>
			<div style="page-break-after: always;"></div>
		</span>
    </div>
</body>
</html>