<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Statement</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="${styleSheet}"/>
</head>
<body>
<page size="A4" class="coverPage">
	<div class="middleBlock">
		<div class="logoBlock">
			<img th:attr="src=${logo}"/>
		</div>
		<div class="documentTitle">
			<span th:text="${fileName}">[Company Name]</span>
		</div>
		<div class="documentDate">
			<span th:text="${editionForMonth}">[Month]</span> <span th:text="${editionForYear}">[Year]</span>
		</div>
	</div>
</page>
</body>
</html>