<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>UBIT Journal</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="${styleSheet}"/>
</head>
<body>
<page th:if="${!#lists.isEmpty(articleContents)}" size="A4" class="mainPage">
	<!--<div class="flightLogoBlock">
		<img th:attr="src=${logo}" alt="VistaJet"/>
	</div>-->
	<div class="companyName subheader" style="font-size:7pt;">
		<div class="documentTitle">
			<span th:text="${fileName}">[Company Name]</span>
		</div>
		<br/>
		<span><span class="headerEdition" th:text="${editionForMonth}">[Month]</span> <span class="headerEdition" th:text="${editionForYear}">[Year]</span><br/><span class="aircraftType" th:text="${aircraftType}">[Aircraft Type]</span></span>
	</div>
	<div class="articleTitles">
		<span th:each="articleContent,iter : ${articleContents}">
            <table cellspacing="0">
				<thead>
				<tr style="color:#585555;">
					<td  colspan="6">
						<span style="float: right" th:text="${articleContent.articleTitle}">[article Title]</span>
						<span th:text="${articleContent.articleAuthor}">[articlevAuthor]</span> |
						<span  th:remove="tag" th:utext="${articleContent.articleContent}">[article Content]</span>
					</td>
				</tr>
				</thead>

			</table>

			<div class="newPage"></div>
		</span>
	</div>
	<div class="footer" id="footer">
		<div class="accinfo">
			<span th:if="${fileName != null}" class="title" th:text="${fileName}"></span>
			<span th:if="${editiontionFroMonthYear != null}" th:text="${editiontionFroMonthYear}"></span>
		</div>
	</div>
</page>
</body>
</html>